body, html {
	height: 100%;
	width: 100%;
}


body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {

	background: url(../img/white_wall_hash_@2X.png) repeat center center;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}


.intro-header {
	/* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 0px;
	color: #f8f8f8;
	background: url(../img/intro-bg.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	height:100%;
}
.main_background {
	/* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 0px;
	background: url(../img/intro-bg.png) no-repeat center center;
	background-size: cover;
	height:100%;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	border-top:1px solid #efefef;
	padding: 50px 0;
	margin-bottom:0px;
	/*position: fixed;*/
	bottom:0;
	left:0;
	width:100%;
	
}
footer p {
    text-align: center;
}

p.copyright {
	margin: 15px 0 0;
}
.navbar-brand {
    font-size: 30px;
    color: #8ef;    
}

/* additional */

li .thumbnail {
    width: 300px;
    margin-left: 0px !important;
    margin-right: 20px !important;
}
.jumbotron {
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
}

@font-face {
	font-family: "warpilogo";
	src: url(../fonts/timeburner_regular.ttf);
}
p.customfont {
	font-family: "warpilogo";
	color:#57EAF2;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	
}

p.p_customfont{
    font-family: "warpilogo";
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}


.customfont {
	color:#57EAF2;
	font-family: "warpilogo";
	margin-bottom:4px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.panel {

	background-color: rgba(255, 255, 255, 0.9); /* Color white with alpha 0.9*/
}

.main_container {

	padding:80px 0px 0px 0px;
}

/* testing   */

.item-1 {
        width: 100%;
        height: auto;
    
 
        -moz-box-shadow: 0 0 2px #000;
        -webkit-box-shadow: 0 0 2px#000;
        box-shadow: 0 0 2px #000;

    }
 .padding   {
 	 padding-bottom: 20px;
 }
 
.item-1 h1 {
    font-size: 24px;
    margin-top: 0px;
    }
 
.img-container {
    width: 100%;
    height: 150px;
    text-align: center;
    background: url(../img/intro-bg.png) no-repeat center center;
    }
 
.img-container a {
    margin: 0px auto;
    text-align: center;
    }
 
.img-container a img {
    border-radius: 50%;
    border: 3px solid #efefef;
  	background-color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    }
 
.robin-key {
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
    }
 
.robin-key p {
    font-size: 15px;
    color: #828282;
    float: left;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 20px;
    }
 
.robin-key ul {
    float: right;
    margin: 0px;
    padding: 0px;
    }
 
.robin-key ul li {
    padding: 4px 12px;
    margin-top: 6px;
    border-right: 1px solid #ddd;
    color: #3f4c6b;
    list-style: none;
    float: left;
    }
 
.robin-key ul li a {
    color: #3f4c6b;
    }
 
.robin-key ul li a:hover {
    color: #242D3F;
    }
 
.robin-key ul li:last-child {
    border-right: none;
    }
 
/* test two products */

.prodct_item-1 {
        width: 100%;
        height: auto;
        background: #383838;
        padding: 20px;
        padding-bottom: 10px;
        float: left;
        border-radius: 5px 5px 0 0;
 
        -moz-box-shadow: 0 0 3px #888;
        -webkit-box-shadow: 0 0 3px#888;
        box-shadow: 0 0 3px #888;
    }
 
.prodct_item-1 h1 {
    font-size: 24px;
    margin-top: 0px;
    }
 
.prodct_item-1 img {
    width: 100%;
    margin-bottom: 10px;
    }
 
.rating {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #424242;
    }
 
ul.star {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    float: left;
    }
 
ul.star li {
    list-style: none;
    float: left;
    margin-right: 2px;
    }
 
.yellow-star {
    color: #C60;
    }
 
.rate h3 {
    font-size: 13px;
    color: #fff;
    line-height: 0px;
    margin-top: 14px;
    font-family: "warpilogo", sans-serif;
    }
.rate h4 {
    font-size: 15px;
    color: #fff;
    line-height: 3px;
    margin-top: 14px;
    font-family: "warpilogo", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
 .shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

 }   

 
.pro-dtls {
    width: 100%;
    height: auto;
    color: #fff;
    float: left;
    }
 
.pro-dtls h4 {
    font-size: 13px;
    color: #fff;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 5px;
    }
.pro-dtls p {
	font-size: 12px;
	}    
 
a.add-btn {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    background: #1E891E;
    text-align: center;
    border-top: 1px solid #2CA52C;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    transition: all 0.8s ease-in-out 0s;
    text-transform:uppercase;
 
    -moz-box-shadow: 0 4px 3px #888;
        -webkit-box-shadow: 0 2px 5px#888;
        box-shadow: 0 4px 3px #888;
    }
 
a.add-btn:hover {
    border-top: 1px solid #333;
    background: #383838;
    }