{% extends 'base.html' %}
{% block title %}Page not found{% endblock %}

{% block content %}
<div class="container main_container">
	 <div class="row container-fluid">

		The page you requested could not be found.
		</div>
</div>

{% endblock %}
