{% extends 'base.html' %}
{% block title %}Server error{% endblock %}

{% block content %}
<div class="container main_container">
	 <div class="row container-fluid">
		There was an error while handling your request.
	 </div>
</div>

{% endblock %}
