{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<div class="container main_container">
	 <div class="row container-fluid">
	 	<div class="col-lg-8">
		
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4><i class="fa fa-pencil"></i> Posts</h4>
				</div>
				<div class="panel-body">
					<ol>
					{% for article in articles %} 




					<li><a href="/{{ article.slug }}/">{{ article.title }}</a>  <h4><i class="fa fa-calendar-o"></i> {{ article.pub_date }}</h4></li>
					<p>{{ article.body|truncatechars:150 }}   .  <a href="/{{ article.slug }}/"> <button class="btn btn-default btn-sm">Read on</button></a></p>
					<hr>
					{% endfor %}
					</ol>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
				<div class="thumbnail">
					
					<div class="caption">
						<h3><i class="fa fa-twitter"></i>Tweet Feed   <small style="color:#fff;">@ericobain</small></h3>
						<hr>
						{% for tweet in tweets.tweets %} 
						<p>{{ tweet.status }}</p>
						<h4>{{ tweet.date }}</h4>
						<hr>

						{% endfor %}
						
					</div>
				</div>

		</div>	

	</div>
</div>


{% endblock %}