{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container main_container">
	<div class="row container-fluid">
		<div class="col-lg-8">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><i class="fa fa-file-o"></i> {{ article.title|truncatechars:80  }}</h5>
				</div>
				<div class="panel-body">
					

			<div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>{{ article.pub_date }}</h3>	
              <h2>{{ article.title }}</h2>
              <hr>
              <h4> by {{ article.author }}</h4>
              <div class="row">
                <div class="col-xs-10">
                  <p>{{ article.body}}<p>
                 
                 
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
        
					
				</div>
			</div>
		</div>
		<div class="col-lg-4">
				<div class="thumbnail">
					
					<div class="caption">
						<h3><i class="fa fa-twitter"></i>Tweet Feed   <small style="color:#fff;">@ericobain</small></h3>
						<hr>
						{% for tweet in tweets.tweets %} 
						<p>{{ tweet.status }}</p>
						<h4>{{ tweet.date }}</h4>
						<hr>
						{% endfor %}
						
					</div>
				</div>

		</div>	


	</div>
</div>


{% endblock %}