{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wisseblog</title>

    <!-- Bootstrap core CSS -->
   
    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/magister.css" %}" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
    {% block exterahead %}{% endblock %}
   

    <!-- Add custom CSS here -->
   

</head>
<body>
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand customfont" href="/">Wisseblog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    
                    <li><a href="/">Posts</a>
                    </li>
                     <li><a href="/portfolio">Portfolio</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}    

{% block content %}

{% endblock %}


{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; 2014 Wisseblog .</p>
                    <p class="copyright text-muted small"> All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}



<!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}" ></script>
    <script src="{% static "js/bootstrap.min.js" %}" ></script>
   

</body>

</html>
