{% extends 'base.html' %}
{% load staticfiles %}
 

 {% block content %}
<!-- Third (Works) section -->

	<div class="container main_container">
		

		<div class="row container-fluid">

		<div class="col-md-12">
		<h2 class="text-center title">Personal projects </h2>
		<p class="lead text-center">
			These are projects im working on, all very recent and featured on this blog as they are all from the same period.</p>
			<h4>Note the use of bootstrap 3 in all of them.</h4>
		
		</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="{% static "screenshots/wisseblog1.png" %}" alt="">
					<div class="caption">
						<h3>Wisseblog</h3>
						<p>This is a screenshot of this very blog from my phone, built in django-nonrel and hosted on googleappengine.
							im building it incrementally and progress can be viewed from bitbucket.</p>
						<p><a href="https://eric_cobain@bitbucket.org/eric_cobain/wisseblog.git" class="btn btn-primary" role="button"><i class="fa fa-bitbucket"></i> Go to Repository</a> 
						<a href="/" class="btn btn-default" role="button">go to site</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="{% static "screenshots/warpi1.png" %}" alt="">
					<div class="caption">
						<h3>Warpi</h3>
						<p>this is another of my long term projects im working on, its code is not public due to the nature of the app though its built in django-nonrel and hosted on googleappengine.</p>
						<p><a href="#" class="btn btn-default" role="button">go to site</a> </p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="{% static "screenshots/farm1.png" %}">
					<div class="caption">
						<h3>Dairy Records system</h3>
						<p>This is an offline web interfaced system to be used in a closed network, its a Dairy farm records system built in Django 1.6 and mysql in a familiar web approach. Some of the code is on bitbucket</p>
						<p><a href="https://eric_cobain@bitbucket.org/eric_cobain/dairy-farm-records-sys.git" class="btn btn-primary" role="button"><i class="fa fa-bitbucket"></i> Go to Repository</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="{% static "screenshots/wisseblog2.png" %}" alt="">
					<div class="caption">
						<h3>wisseblog</h3>
						<p>This is another screenshot from my phone from this very blog..... cheers!!!</p>
						<p><a href="https://eric_cobain@bitbucket.org/eric_cobain/wisseblog.git" class="btn btn-primary" role="button"><i class="fa fa-bitbucket"></i> Go to Repository</a> <a href="/" class="btn btn-default" role="button">go to site</a></p>
					</div>
				</div>
			</div>

		</div>
	

	</div>



 {% endblock %}